.input-text {

	&--hidden {
		height: 0;
		width: 0;
		visibility: none;
	}

	&__label {
		display: block;
		margin-bottom: 5px;
	}

	&__input {
		background-color: $white;
		border-radius: $border-radius;
		border-width: 0.5px;
		border-style: solid;
		border-color: $lightblue;
		padding: 7.5px 15px;
		outline: none;
		margin-bottom: 15px;
		width: 100%;

		&--error {
			border-color: red !important;
		}
		
	}

}