.hero {
	position: relative;
	overflow: hidden;

	&__inner {
		padding-top: 60px;
		overflow: hidden;
		height: 100%;
		min-height: calc(100vh - 100px - 100px);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__heading-wrapper {
		text-align: left;
		margin-bottom: 45px;
		max-width: 600px;

	}

	&__teaser {
		text-align: left;
		margin-bottom: 45px;
		font-family: Heebo-Light, sans-serif;
		max-width: 600px;
	}

	&__button-container {
		display: grid;
		justify-content: start;
		grid-template: auto / repeat(2, auto);
		grid-gap: 30px;
		margin-bottom: 30px;
	}

	&__globus {
		position: absolute;
		top: 50%;
		right: 0;
		height: 100vh;
		max-height: 1250px;
		display: block;
		transform: translate(50%, -50%);
	}

	@media 	screen and (max-width: 1250px), 
  screen and (max-height: 1000px) {

						&__inner {
							padding-bottom: 275px;
						}

						&__heading-wrapper {
							text-align: center;
							margin: 0 auto 45px auto;
						}
					
						&__teaser {
							text-align: center;
							margin: 0 auto 45px auto;
						}

						&__button-container {
							display: grid;
							justify-content: center;
							grid-template: auto / repeat(2, auto);
							margin-bottom: 90px;
						}
		
						&__globus {
							position: absolute;
							top: unset;
							right: 50%;
							bottom: 0;
							max-width: 80vw;
							max-height: 650px;
							height: 100%;
							display: block;
							transform: translate(50%, 50%);
						}
	}
	
	@media (max-width: 900px) { 
		&__inner { min-height: calc(100vh - 100px - 75px); }
	}
	
	@media (max-width: 750px) { 
		&__inner { min-height: calc(100vh - 75px - 75px); }
	}

	@media (max-width: 530px) { 
		&__inner { min-height: calc(100vh - 75px - 50px); }	
		&__button-container { 
			grid-template: auto auto / auto; 
			text-align: center;
		}
	}

	@media (max-width: 370px) { 
		&__inner { min-height: calc(100vh - 75px - 0px); }
	}
	
}