

<div class="blog-post">

	<div class="blog-post__card card">
		{% render "@heading" with { text: "Trending: new ICO's this month", class:"blog-post__heading", type: "h2"} %}
		{% render "@date" with { date: "29.93.2129", class: "blog-post__date" } %}
		{% render "@category-label" with { color: "blue", class: "blog-post__category-label"} %}
		{% render "@category-label"  with { color: "orange", class: "blog-post__category-label"} %}
		{% render "@image" with { url: "https://decom-web-craft/uploads/blog-content/blog-image.jpg" } %}
		{% render "@text" with { text: "Trending: new ICO's this month", class:"blog-post__heading", type: "h2"} %}

	</div>

</div>