.blog-post {

	padding: 30px 0;
	background-color: $lightblue;
	&__card {
		margin: 0 auto;
		margin-bottom: 30px;
		display: block;
		max-width: $max-width;
	}

	&__card > * {
		margin-bottom: 15px;
	}

	&__heading {
	}

	&__date {
		margin-bottom: 15px;
	}

	&__category-label {
		margin-bottom: 15px;
	}

	&__button {
		margin: 0 auto;
		display: block;
		max-width: 200px; 
		text-align: center;
	}

}