<section id='request-informations' class='request-informations section'>
			
			<div class='request-informations__inner section__inner'>

				{% render "@heading" with { text: title, class: "request-informations__title", type: 'h2' } %}
				{% render "@text" with { text: text, class: 'request-informations__text' } %}
				{% render "@form" %}					
	
			</div>
		</section>