<div class='navigation'>

		<nav class='navigation-desktop'>
			<div class='navigation-desktop__inner'>
				
				<a href="/">
					<img class='navigation-desktop__logo' src='/assets/logos/decom/logo-decom-full.png' alt='Decom' class='navigation-desktop__logo' />
				</a>
			
				<div class='navigation-desktop__links'>
						{% for link in links %}
							<div class="navigation-desktop__link-wrapper">
								{% if link.sublinks.length %}
									{% render "@link" with { text: link.name, class: "navigation-desktop__link navigation-desktop__link--has-childs", link: link.link} %}
									<div class='navigation-desktop__link-dropdown-box'>
										{% for sublink in link.sublinks %}
											{% render "@link" with { text: sublink.name, class: "navigation-desktop__link-dropdown-item", link: sublink.link } %}
										{% endfor %}
									</div>
								{% else %}
									{% render "@link" with { text: link.name, class: "navigation-desktop__link", link: link.link} %}
								{% endif %}
							</div>
						{% endfor %}
				</div>

				<div class="navigation-desktop__actions">
					{% render "@button" with { text: "Jetzt investieren", color: "blue", class: "navigation-desktop__button"} %}
					<div class="navigation-desktop__language-switcher language-switcher">
						{% render "@link" with { text: 'EN', link: '/de', color: 'darkblue', class: "language-switcher__item" } %}
						<figure class="language-switcher__separator"></figure>
						{% render "@link" with { text: 'DE', link: '/en', color: 'darkblue', class: "language-switcher__item" } %}
					</div>
				</div>

			</div>
		</nav>

		<nav class='navigation-mobile'>
			<div class='navigation-mobile__inner'>
				<div class='navigation-mobile__bar'>
				<a href="#">
					<img class='navigation-mobile__logo' src='/assets/logos/decom/logo-decom-full.png' alt='Decom' class='navigation-desktop__logo' />
				</a>					
				{% render "@hamburger"  %}
				</div>
				<div class="navigation-mobile__backgroundlayer navigation-mobile__backgroundlayer--closed" id="backgroundlayer" type='button'>
						<div class='navigation-mobile__link-container'>		
							<div class="navigation-mobile__link-wrapper">
							{% for link in links %}
								{% if link.sublinks.length %}
									{% render "@link" with { text: link.name, link: link.link, class: "navigation-mobile__link navigation-mobile__link--has-childs"} %}
									<div class='navigation-mobile__sublink-box navigation-mobile__sublink-box'>
									{% for sublink in link.sublinks %}
										{% render "@link" with { text: sublink.name, link: sublink.link, class: "navigation-mobile__sublink-item" } %}
									{% endfor %}
									</div>
								{% else %}
									{% render "@link" with { text: link.name, link: link.link, class: "navigation-mobile__link"} %}
								{% endif %}
							{% endfor %}
							</div>										
							<div class="navigation-mobile__language-switcher language-switcher">
								{% render "@link" with { text: 'DE', link: '/en', color: 'white', class: "language-switcher__item" } %}
								<figure class="language-switcher__separator"></figure>
								{% render "@link" with { text: 'DE', link: '/en', color: 'white', class: "language-switcher__item" } %}
							<div>
						</div>
      	</div>
			</div>
		</nav>

		<div class='navigation-placeholder'></div>
	</div>