<section id="asset-management" class="asset-management section">
    <div class="asset-management__inner section__inner">

        {% render "@heading" with { text: title, class: "asset-management__title", type: 'h2' } %}
        {% render "@heading" with { text: subtitle, class: "asset-management__subtitle", type: 'h3' } %}
		{% render "@text" with { text: text, class: 'asset-management__text' } %}

				<div class='asset-management__card-wrapper'>

					{% for card in cards %}	
						<a href="{{ link }}" class="asset-management__link" >
							<div class='card asset-management__card'>
								{% render "@heading" with { text: card.title, class: "asset-management__card__title", type: 'h3' } %}
								{% render "@line" with { class: 'asset-management__card__line line--darkblue'} %}

								{% for item in card.itemList %}			
									{% render "@list-element" with { text: item, class: "asset-management__card__list-element" } %}
								{% endfor %}
							</div>			
						</a>
					{% endfor %}

				</div>

    </div>
</section>