<div class="input-newsletter-subscription {{ class}}" id="input-newsletter-subscription" action="/index.php">
	<input class='input-newsletter-subscription__input' type='text' name={{inputData.name}} placeholder='Email Adresse' />
	<img class='input-newsletter-subscription__icon' id="input-newsletter-subscription__icon" src='/assets/icons/various/nl-subscription-email.svg' alt='Email' />
</div>