<section id='mining-request' class='mining-request section'>
			
			<div class='mining-request__inner section__inner'>

				{% render "@heading" with { text: title, class: "mining-request__title", type: 'h2' } %}
				{% render "@text" with { text: text, class: 'mining-request__text' } %}
				{% render "@form" %}					
	
			</div>
		</section>