{% set bitcoinMining = craft.entries.section('bitcoinMining').one() %}


<section id="bitcoin-mining" class="bitcoin-mining section">
    <div class="bitcoin-mining__inner section__inner">
		 
 		{% include ("partials/heading") with { text: bitcoinMining.bitcoinMiningHeading, class: "bitcoin-mining__title", type: "h2" } %}
 		{% include ("partials/heading") with { text: bitcoinMining.bitcoinMiningSubheading, class: "bitcoin-mining__subtitle", type: "h3" } %}

		<div class="bitcoin-mining__intro intro card">
			{% include ("partials/text") with { text: bitcoinMining.bitcoinMiningText, class: "intro__text" } %}
		</div>

        <div class="bitcoin-mining__farms farms">
            {% for item in bitcoinMining.bitcoinMiningFarms %}
                <div class="farms__item item">
                    <img class="item__image" src="{{ item.image.one.url() }}" />
                    <div class="item__content  content">
                        <span class="content__country country">
                            <img class="country__flag" src="{{ item.flag.one().url() }}" /> 
                            {% include "partials/heading" with { text: item.country, class: "country__name", type: "h3" } %}
                        </span>
                        {% include "partials/text" with { text: item.capacity, class: "content__capacity" } %}
                        {% include "partials/button" with { text: item.buttonText, class: 'content__button', link: item.buttonLink } %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="bitcoin-mining__benefits benefits">
            {% for item in bitcoinMining.bitcoinMiningProperties %}
                <div class="benefits__item item">
                    <img class="item__icon" src="{{ item.icon.one.url() }}" />
                    <p class="item__text">{{ item.text }}</p>
                </div>
            {% endfor %}
        </div>

    </div>
</section>