<div class="blog-post">

	<div class="blog-post__card card">

		{% if entry.blogPostPreviewImage.one() %}
			{% include ("partials/image") with { url: entry.blogPostPreviewImage.one().url() } %}
		{% endif %}
		{% for category in entry.blogPostCategories %}
			{% include ("partials/category-label") with {text: category.label, color: category.value, class: "blog-card__category-label" } %}	
		{% endfor %}
		{% include ("partials/heading") with { text: entry.blogPostHeading, class:"blog-post__heading", type: "h1"} %}
		{% include ("partials/date") with { date: entry.blogPostDate|date, class: "blog-post__date" } %}
		{% include ("partials/text") with { text: entry.blogPostPreviewText, class:"blog-post__heading" } %}

		{% for block in entry.blogPostContent %}

			{% switch block.type %}
				{% case "richText" %}
					{{ block.richText }}
				{% case "image" %}
					{% if block.size == 'small' %}
						{% include ("partials/image") with { url: block.image.one().url(), class: "blog-post__image--small", caption: block.caption } %}
					{% elseif block.size == 'big' %}
						{% include ("partials/image") with { url: block.image.one().url(), class: "blog-post__image--big", caption: block.caption } %}
					{% endif %}
				{% case "heading" %}
					{% include ("partials/heading") with { text: block.heading, class:"blog-post__heading", type: "h2"} %}
				{% default %}
			{% endswitch %}
			
		{% endfor %}

		
	</div>

	{% set buttonText = currentSite.language == 'de' ? 'zurück' : 'back' %}
	{% set buttonUrl = currentSite.language == 'de' ? '/blog-overview' : '/en/blog-overview' %}
	{% include ("partials/button") with { text: buttonText, class: "blog-post__button", link: buttonUrl } %}
</div>