{% set imprint = craft.entries.section('imprint').one() %}

<section id='imprint' class='imprint section'> 
	<div class='imprint__inner section__inner'>
	
		{% include ("partials/heading") with { text: imprint.imprintHeading, class: "imprint__title", type: "h2"} %}

		<div class='imprint__card-wrapper'>

			{% for row in imprint.imprintCards %}
				
			
			<div class='card imprint__card'>
				<div class='imprint__item'>
					{% include ("partials/heading") with { text: row.title, type: 'h3', class: "imprint__card__title" } %}
					{% include ("partials/text") with { text: row.company, } %}
					{% include ("partials/text") with { text: row.companyAddition, } %}
					{% include ("partials/text") with { text: row.street, } %}
					{% include ("partials/text") with { text: row.town, } %}
					{% include ("partials/text") with { text: row.email, } %}
					{% include ("partials/text") with { text: row.phone, } %}
				</div>
			</div>	
			{% endfor %}

			</div>
		</div>
	</section>