<section id='partners' class='partners section'> 
			<div class='partners__inner section__inner'>
				<a class='partners__logo-link' href="https://cryptovalley.swiss/" target="_blank" }>
						<img class='partners__logo-image' src='./assets/logos/partners/logo-crypto-valley.png' alt='Crypto Valley' />
				</a>
				<a class='partners__logo-link' href="https://www.binance.com/de" target="_blank" }>
				<img class='partners__logo-image' src='./assets/logos/partners/logo-binance.png' alt='Binance' />
			</a>
			<a class='partners__logo-link' href="https://cryptoconsortium.org/" target="_blank" }>
			<img class='partners__logo-image' src='./assets/logos/partners/logo-crypto-currency-consortium.png' alt='Crypto Currency Consortium' />
				</a>
				<a class='partners__logo-link' href="https://www.maerki-baumann.ch/de" target="_blank" }>
						<img class='partners__logo-image' src='./assets/logos/partners/logo-maerki-baumann.png' alt='Maerki Baumann' />
				</a>
			</div>
		</section>