{% set requestInformations = craft.entries.section('requestInformations').one() %}

<section id='request-informations' class='request-informations section'>
			
			<div class='request-informations__inner section__inner'>

				{% include ("partials/heading") with { text: requestInformations.requestInformatinosHeading, class: "request-informations__title", type: 'h2' } %}
				{% include ("partials/text") with { text: requestInformations.requestInformatinosText, class: 'request-informations__text' } %}
				{% include ("partials/form")  %}					
	
			</div>
		</section>