{% set termsOfUse = craft.entries.section('termsOfUse').one() %}

<section id='terms-of-use' class='terms-of-use section'>
			<div class='terms-of-use__inner section__inner'>

			{% include ("partials/heading") with { text: termsOfUse.termsOfUseHeading, class: "terms-of-use__title", type: "h2" } %}
			{% include ("partials/text") with { text: termsOfUse.termsOfUseText, class: "terms-of-use__text" } %}

				<div class='card terms-of-use__card'>

						<div class='terms-of-use__item' key={ index }>
						{% include ("partials/text") with { text: termsOfUse.termsOfUseContent, class: "terms-of-use__card__text" } %}
					</div>

				</div>	

			</div>
		</section>