<section id='cookie-banner' class='cookie-banner js-cookie-banner section'>
    <div class='cookie-banner__inner section__inner'>
        <p class="cookie-banner__text">
            Um die Website für Sie optimal zu gestalten und fortlaufend verbessern zu können, werden Cookies verwendet. Durch die weitere Nutzung der Website stimmen Sie der Verwendung von Cookies zu. Weitere Informationen dazu finden Sie in den <a class="cookie-banner__link" href="#"> Datenschutzbestimmungen</a> zu.
        </p>
        {% render "@button" with { color: "blue", text: "Zustimmen", class: "cookie-banner__button"} %}
    </div>
</section>