.cookie-banner {
  position: fixed;
  top: 100%;
  width: 100%;
  background-color: $lightblue;
  border-top: 1px solid $white;
  transition: all 1s ease;
  z-index: 15;

  &--visible {
    transform: translateY(-100%);
  }

  &__inner {
    max-width: 1090px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
  }

  &__text,
  &__link {
    color: $black;

  }

  &__link {
    text-decoration: underline;
    font-size: inherit;
    text-underline-offset: 4px;
  }

  &__button {
    margin-left: 32px;
  }

  @media (max-width: 1000px) {

    &__inner {
      flex-direction: column;
      padding: 24px;
    }

    &__text {
      margin-bottom: 16px;
    }

    &__button {
      margin-left: 0;
    }

  }

  @media (max-width: 500px) {

    &__inner {
      flex-direction: column;
      padding: 24px;
    }

    &__button {
      width: 100%;
      margin-left: 0;
      text-align: center;
    }

  }

}