<div class="input-radio {{ class|default('') }}">
	<span class='input-radio__option'>	
		<input class='input-radio__input' name="{{ name }}" type='radio' value="{{ value }}" />
		<label class='input-radio__label'>{{ label }}</label>
	</span>
</div>