<div class='language-switcher'>
	{% if craft.request.path %}
		<a class="language-switcher__button" href="/en/{{ craft.request.path }}">
	{% else %}
		<a class="language-switcher__button" href="/en">
	{% endif %}
		EN
	</a>
	{% if craft.request.path %}
		<a class="language-switcher__button" href="/{{ craft.request.path }}">
	{% else %}	
		<a class="language-switcher__button" href="/">
	{% endif %}
	DE
	</a>
</div>