{% set links = craft.entries.section('pages').level(1).all() %}
{% set navigation = craft.entries.section('navigation').one %}

<div class='navigation'>

		<nav class='navigation-desktop'>
			<div class='navigation-desktop__inner'>
				<a href="{{ navigation.navigationLogoLink }}">
					<img class='navigation-desktop__logo' src='/uploads/logos/logo-decom-full.png' alt='Decom' class='navigation-desktop__logo' />
				</a>
				<div class='navigation-desktop__links'>
					<div class='navigation-desktop__link-container'>														
						{% for link in links %}
							{% if link.hasDescendants %}
								{% include ("partials/link") with { text: link.title, class: "navigation-desktop__link navigation-desktop__link--has-childs", color: "darkblue", link: ""} %}
							{% else %}
								{% include ("partials/link") with { text: link.title, class: "navigation-desktop__link", color: 'darkblue', link: link.pagesRoute} %}
							{% endif %}
							{% if link.hasDescendants %}
								<div class='navigation-desktop__link-dropdown-box'>
								{% set sublinks = link.getChildren() %}
								{% for sublink in sublinks %}
									{% include ("partials/link") with { text: sublink.title, class: "navigation-desktop__link-dropdown-item", color: 'darkblue', link: sublink.pagesRoute } %}
								{% endfor %}
								</div> 
							 {% endif %} 
						{% endfor %}
					</div>
				</div>
				{% include ("partials/button") with { text: navigation.navigationButtonText, class: "navigation-desktop__button", color: "white", link: navigation.navigationButtonLink} %}
			</div>
		</nav>

		<nav class='navigation-mobile'>
			<div class='navigation-mobile__inner'>
				<div class='navigation-mobile__bar'>
				<a href="#">
					<img class='navigation-mobile__logo' src='/uploads/logos/logo-decom-full.png' alt='Decom' class='navigation-desktop__logo' />
				</a>					
				{% include ("partials/hamburger")  %}
				</div>
				<div class="navigation-mobile__backgroundlayer navigation-mobile__backgroundlayer--closed" id="backgroundlayer" type='button'>
						<div class='navigation-mobile__link-container' key={index}>												
						{% include ("partials/link") with { text: "Sublink", class: "navigation-mobile__link", color: "darkblue", link: "#" } %}							
							{% for link in links %}
								{% if link.hasDescendants %}
									{% include ("partials/link") with { text: link.title, class: "navigation-mobile__link navigation-mobile__link--has-childs", color: "darkblue", link: "#" } %}
								{% else %}
									{% include ("partials/link") with { text: link.title, class: "navigation-mobile__link", color: "darkblue", link: "#"} %}
								{% endif %}
								{% if link.hasDescendants %}
								<div class='navigation-mobile__sublink-box navigation-mobile__sublink-box--closed'>
									{% set sublinks = link.getChildren() %}
									{% for sublink in sublinks %}
										{% include "partials/link" with { text: sublink.title, class: "navigation-mobile__sublink-item", color: "darkblue", link: "#s" } %}
									{% endfor %}
									</div>
								{% endif %}
							{% endfor %}
						</div>
      	</div>
			</div>
		</nav>

		<div class='navigation-placeholder'></div>
	</div>