<div class="top-blog-card">

	{% if previewImage.one() %}
		<a href="blog-post/{{slug}}" class="top-blog-card__link">
			<img class="top-blog-card__image" src="{{previewImage.one().url()}}" />
		</a>
	{% endif %}

	<div class="top-blog-card__content-wrapper">
		{# {% include ("partials/category-label") with { text: "hello her", color: "orange", class: "top-blog-card__category-label" } %}		 #}
		{% for category in categories %}
			{% include ("partials/category-label") with {text: category.label, color: category.value, class: "blog-card__category-label" } %}		
		{% endfor %}
		<a href="blog-post/{{slug}}" class="top-blog-card__link">
			{% include ("partials/heading") with { text: heading, class: "top-blog-card__heading", type: "h2" } %}
		</a>
		{% include ("partials/date") with { date: "21.12.2024", class: "top-blog-card__date" } %}
		{% include ("partials/text") with { text: previewText, class: "top-blog-card__text" } %}
	</div>

</div>