

<div class="blog-entry">

	<div class="blog-entry__card card">
		{% render "@heading" with { text: "Trending: new ICO's this month", class:"blog-entry__heading", type: "h2"} %}
		{% render "@date" with { date: "29.93.2129", class: "blog-entry__date" } %}
		{% render "@category-label" with { color: "blue", class: "blog-entry__category-label"} %}
		{% render "@category-label"  with { color: "orange", class: "blog-entry__category-label"} %}
		{% render "@image" with { url: "/assets/images/blog/blog-image.jpg" } %}
		{% render "@text" with { text: "Trending: new ICO's this month", class:"blog-entry__heading", type: "h2"} %}

	</div>

</div>