.invest-now {
	padding-top: 60px;
	padding-bottom: 60px;
	background-size: 300%;
	background-position: 0% 0%;
	background-image:  url('/assets/graphics/graphic-wave.svg');
	background-repeat: no-repeat;

	&__title {
		margin-bottom: 45px;
		text-align: center;
	}
	
	&__text, p {
		margin-bottom: 30px;
		text-align: center;
	}
	
}