<section id='invest-now' class='invest-now section'>
			
			<div class='invest-now__inner section__inner'>
	
				{% render "@heading" with { text: title, class: "invest-now__title", type: 'h2' } %}
				{% render "@text" with { text: text, class: 'invest-now__text' } %}
				{% render "@form" %}

			</div>
		</section>