<section id='partners' class='partners section'> 
			<div class='partners__inner section__inner'>
				<a class='partners__logo-link' }>
						<img class='partners__logo-image' src='/logos/partners/logo-crypto-valley.png' alt='Crypto Valley' />
				</a>
				<a class='partners__logo-link' }>
						<img class='partners__logo-image' src='/logos/partners/logo-crypto-currency-consortium.png' alt='Crypto Valley' />
				</a>
				<a class='partners__logo-link' }>
						<img class='partners__logo-image' src='/logos/partners/logo-binance.png' alt='Crypto Valley' />
				</a>
				<a class='partners__logo-link' }>
						<img class='partners__logo-image' src='/logos/partners/logo-maerki-baumann.png' alt='Crypto Valley' />
				</a>
			</div>
		</section>