
.link {
	
	text-decoration:  none;

	&--lightblue { color: $lightblue; }
	&--blue { color: $blue; }
	&--darkblue { color: $darkblue; }
	&--white { color: $white; }
	&--darkgrey { color: $darkgrey; }
	
}