@font-face {
	font-family: 'Heebo-Light';
	src:
		local('fonts/heebo'), url('/fonts/heebo/heebo-light.woff2') format('woff2'),
		local('fonts/heebo'), url('/fonts/heebo/heebo-light.woff') format('tff');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Heebo-Medium';
	src:
		local('fonts/heebo'), url('/fonts/heebo/heebo-medium.woff2') format('woff2'),
		local('fonts/heebo'), url('/fonts/heebo/heebo-medium.woff') format('tff');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Heebo-Bold';
	src:
		local('fonts/heebo'), url('/fonts/heebo/heebo-bold.woff2') format('woff2'),
		local('fonts/heebo'), url('/fonts/heebo/heebo-bold.woff') format('tff');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}