
// COLORS
$black: #000;
$white: #fff;
$lightblue: #f0f4fc;
$blue: #2d7eff;
$darkblue: #041834;
$darkgrey: #4b4b4b;

// FONT
$default-line-height: 1.5;

// SETTINGS 
$max-width: 1090px;
$gutter: 32px;
$border-radius: 7.5px;
$box-shadow: 0px 2.5px 5px 2.5px rgba(214, 214, 214, 0.5);