
// COLORS
$black: #000;
$white: #fff;
$lightblue: #f0f4fc;
$blue: #2d7eff;
$darkblue: #041834;
$midgrey: #bbbbbb;
$darkgrey: #4b4b4b;
$red: #EE3424;
$green: #20D67C;
$orange: #D69620;

// FONT
$default-line-height: 1.5;

// SETTINGS 
$max-width: 1300px;
$gutter: 32px;
$border-radius: 7.5px;
$box-shadow: 0px 2.5px 5px 2.5px rgba(214, 214, 214, 0.5);