<div class="blog-overview">
	<div class="blog-overview__content-wrapper">

		{% render "@top-blog-card" %}
		
		<div class="blog-overview__card-wrapper">			
			{% for entry in entries %}
				{% render "@blog-card" with { heading: entry.heading, categories: ["Crypto", "ICO"] } %}
			{% endfor %}
		</div>



	</div>
</div>

